.Navbar {
    height: 7vh;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.NavbarLogo {
    height: 100%;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#CodeForgeLogo {
    height: 50%;    
    width: auto;
}

.NavbarButtons {
    height: 100%;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#NavbarSingleBtn {
    text-decoration: none;
    font-size: 1.75vh;
    color: #000;
    font-family: 'IBM Plex Mono';
}